<div class='col-sm-9'>
  <div class='panel panel-primary' id='items-panel'>
    <div class='panel-heading'>Loading...</div>
    <div class='panel-body centered'>
      <div>
        <p>Fetching items...</p>
        <span class='glyphicon glyphicon-refresh spinning'></span>
      </div>
    </div>
  </div>
</div>
<div class='col-sm-12'>
  <div class='panel panel-primary' id='content-panel'>
    <div class='panel-heading'>Loading</div>
    <div class='panel-body centered'>
      <div>
        <p>Please wait for the Feed to load...</p>
      </div>
    </div>
  </div>
</div>
