<div class='col-sm-9'>
  <div class='panel panel-primary' id='items-panel'>
    <div class='panel-heading'>Loading...</div>
    <div class='panel-body centered'>
      <div>
        <p>Fetching items...</p>
      </div>
    </div>
  </div>
</div>
