<div class='text-center'>
  <div class='btn-group btn-group-sm item-actions' role='group' aria-label='actions'>
    {{link-to 'Previous' 'feeds.feed.feeditems.feeditem' model.feed previousItem
              class=previousItemClass}}
    <a class={{buttonClass}} href={{model.link}} target='_blank'>View on Site</a>
    {{link-to 'Next' 'feeds.feed.feeditems.feeditem' model.feed nextItem
              class=nextItemClass}}
  </div>
</div>
