<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <span class='navbar-brand'>RSSonate</span>
    </div> <!-- navbar-header -->

    <div>
      <div class='navbar-form navbar-left' role='create'>
        <div class='form-group form-group-sm'>
          {{input name='feed-url' type='url' value=newFeedUrl enter='addFeed'
                  placeholder='Add a Feed By URL...' class='form-control'}}
        </div>
      </div>
    </div> <!-- navbar-collapse -->
  </div> <!-- container-fluid -->
</nav>
