<div class='row'>
  <div class='col-sm-3'>
    <div class='panel panel-primary' id='feeds-panel'>
      <div class='panel-heading'>Feeds</div>
      <ul class='nav nav-pills nav-stacked'>
      {{#each model as |feed|}}
        {{#link-to 'feeds.feed.feeditems' feed tagName='li' class='presentation'}}
          {{#link-to 'feeds.feed.feeditems' feed}}{{{feed.title}}}{{/link-to}}
        {{/link-to}}
      {{/each}}
      </ul>
    </div>
  </div>

  {{outlet}}
</div>
