<div class='col-sm-9'>
  <div class='panel panel-primary' id='items-panel'>
    <div class='panel-heading'>No Feed Selected</div>
    <div class='panel-body centered'>
      <div>
        <p>Select a Feed to load its items...</p>
      </div>
    </div>
  </div>
</div>

<div class='col-sm-12'>
  <div class='panel panel-primary' id='content-panel'>
    <div class='panel-heading'>No Item Selected</div>
    <div class='panel-body centered'>
      <div>
        <p>Select a Feed and an Item...</p>
      </div>
    </div>
  </div>
</div>
