<div class='col-sm-12'>
  <div class='panel panel-primary' id='content-panel'>
    <div class='panel-heading'>No Item Selected</div>
    <div class='panel-body centered'>
      <div>
        <p>Select an Item...</p>
      </div>
    </div>
  </div>
</div>
